body{
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* typography */

h1, h3{
    margin: 0;
}

h1{
    font-size: 36px;
    color: whitesmoke;
}

h2{
    margin-top: 0;
}

h3{
    font-size: 20px;
    color:#d0aaff;
}

/*links*/

p{
    line-height: 23px;
}

a{
    color: #ef5839;
    text-decoration: underline dotted;
}

a:hover, a:active{
    color: #d4b44c;
}

.btn{
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}

.btn-dark{
    background-color: #5f29a3;
    color: whitesmoke;
}

.btn-mid{
    background-color: #f0e0ff;
    color: #5f29a3;
}

.btn-lyt{
    background-color: whitesmoke;
    color: #5f29a3;
}

.btn:hover, .btn:active{
    background-color: #f3e885;
    color: #2b283a;
}

/* layout*/


header, section, footer{
    padding: 45px 0px;
}

header, .section2{
    background-color: #5f29a3;
}

.section2{
    color: whitesmoke;
}

.container{
    width: 620px;
    margin: 0 auto;
}

.shoe{
    width: 100%;
}

.sec2-imgcon{
    display: flex;
    justify-content: space-between;
}

.img1{
    width: 300px;
    border-radius: 4.6px;
}

footer{
    text-align: center;
    color: #5f29a3;
}